<html>
<head>
	<link rel="stylesheet"
	      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/darcula.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
</head>

<body>
	<h1>Notification feed</h1>
	<hr>
	<div id="list"></div>
	<button id="loadMoreBtn">Load more</button>
</body>
</html>

<script>

var lastEventId = 1;
var currentNotificationId = 0;
var notificationsPerRequest = 10

// initialize socket connection
var socket = io.connect("", {
	path: "{{ server_root }}/socket.io", 
	reconnection: false
});

// get initial notification from server on page load
socket.on("connect", () => {
	socket.emit("request_latest", 
		{ merchantAccount: "{{ merchant_account }}" }, 
		data => { 
			receiveNotification(data);
		}
	);
});

// socket event listeners
socket.on("notification_available", msg => {
	if (msg.merchantAccount == "{{ merchant_account }}") {
		receiveNotification(msg.notificationData);
	}
});

// fix stray apostrophes in JSON data
// and return formatted JSON object
function sanitizeJSON(rawText) {
	formattedText = rawText.replace(/"/g, "").replace(/'/g, '"');
	return JSON.parse(formattedText);
};

// add a notification to the DOM and activate code highlighting
// if first = true adds to top
function addToDom(notification, first) {

	// create element to be added
	var notificationContainer = document.createElement("pre");
	var notificationElement = document.createElement("code");
	notificationContainer.appendChild(notificationElement);

	// set up new element
	if (first) {
		if (document.querySelector(".first") != null) {
			document.querySelector(".first").classList.remove("first");
		}
		notificationElement.classList.add("first");
	}
	notificationElement.classList.add("json");
	notificationElement.innerHTML = JSON.stringify(notification, null, 4);

	// add to DOM
	eventList = document.getElementById("list");
	if (first) {
		eventList.insertBefore(notificationContainer, eventList.firstChild);
	} else {
		eventList.appendChild(notificationContainer);
	}

	// activate highlighting
	hljs.highlightBlock(notificationElement);
};

// processes notifications received from server
function receiveNotification(notificationData) {

	// get data from event and json encode
	notification = sanitizeJSON(notificationData);

	// if the event sent by the server is newer, add it to the page
	if (notification.pspReference != lastEventId) {

		// add to DOM
		addToDom(notification, true);

		// update current timestamp
		lastEventId = notification.pspRefernce;
	}

};

// query server for more notifications
document.querySelector("#loadMoreBtn").addEventListener("click", () => {

	// calculate range to ask for
	firstNotification = currentNotificationId + 1;
	lastNotification = currentNotificationId + 1 + notificationsPerRequest;
	url = "{{ server_root }}/notifications/{{ merchant_account }}/" + firstNotification.toString() + "/" + lastNotification.toString();
	currentNotificationId += notificationsPerRequest;

	// add returned notifications to DOM
	var req = new XMLHttpRequest();
	req.onreadystatechange = function(){
		if (this.readyState == 4) {

			// parse response
			notifications = sanitizeJSON(this.responseText);

			// create DOM element for each JSON object in response
			for (var i = 0; i < notifications.length; i++) {
				addToDom(notifications[i], false);
			}

			// hide the button if there are no more notifications available
			if (notifications.length < notificationsPerRequest) {
				document.querySelector("#loadMoreBtn").style.display = "none";
			}
		}
	}

	// send request
	req.open("GET", url, true);
	req.send();

});

</script>

<style>

body {
	background: #2b2b2b;
}

h1 {
	color: #FFF;
	font-family: sans-serif;
	user-select: none;
}

code.first {
	background: #383838;
}

code {
	overflow-x: hidden !important;
}

button {
	background: #484848;
	color: #FFF;
	border: 0px;
	border-radius: 6px;
	padding: 15px 45px 15px 45px;
	font-size: 24px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	user-select: none;
}

::selection {
	color: white;
	background: #aaa;
}

</style>
